frame-a-hover-color = #72a78f

frame-theme-color = #8fb3d0

a:hover, a:focus {
    color: frame-a-hover-color;
}

.post-toc ol .toc-item.active>.toc-link {
    color: frame-a-hover-color;
    border-bottom: none;
}

.post-toc ol .toc-link:hover {
    color: frame-a-hover-color;
}

.markdown-body a {
	color: frame-theme-color;
}

body::before {
	background-position: left; 
}

.markdown-body table td, .markdown-body table th {
    border: 1px solid frame-theme-color;
}

.markdown-body a:active, .markdown-body a:hover {
	color: frame-a-hover-color;	
}

.search-popup {
    background-image: url(https://cdn.jsdelivr.net/gh/lucas-nz/ImgHosting/img/bg-blur.jpg);
}

[data-user-color-scheme='dark'] .sidebar {
    background-image: url(https://cdn.jsdelivr.net/gh/lucas-nz/ImgHosting/img/side-bg-dark.png);
}

.markdown-body gm-en {
    display: block;
    margin: 1rem auto;
    width: auto;
    height: auto;
    max-width: 70%;
	font: italic 1.5em Georgia, serif;
	text-align:left
}

.markdown-body gm-cn {
    font: 1em -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
    display: block;
    margin: 2rem auto 1em auto;
    width: auto;
    height: auto;
    max-width: 70%;
    text-align: left;
    color: rgb(123, 127, 131);
}

.markdown-body ref {
    text-align: right;
    color: #7b7f83;
    font-size: smaller;
}

hide {
    display: none;
}



